<%- include('../../header.ejs') %>
<section class="dashboard-wrap mtb-40">
  <div class="container">
      <div class="body-content">
          <div class="row">
              <div class="col-md-3">
                  <div class="dash-left">
                      <ul>
                          <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
                          <li><a href="/admin/createblog">CREATE BLOGS</a></li>
                          <li><a href="/admin/displayblog">DISPLAY BLOGS</a></li>
                          <li><a href="/admin/createcategory">CREATE CATEGORIES</a></li>
                          <li><a href="/admin/displaycategory">DISPLAY CATEGORIES</a></li>
                          <li><a href="/contact">CONTACT</a></li>
                          <li><a href="/about">About</a></li>
                          <li><a href="/logout">Logout</a></li>
                      </ul>
                  </div>   
              </div>
              <div class="col-md-9">
                  <div class="dash-right">
                      <div class="dash-header">
                          <div class="dash-title">
                              <h1>Display Category</h1>
                          </div>
                          <div class="dash-nav">
                              <a href="/admin/createcategory" class="btn btn-success">Add Category</a>
                          </div>
                      </div>
                      <table class="table table-bordered table-striped">
                          <tr>
                              <th>sno.</th>
                              <th>Name</th>
                              <th>Action</th>
                          </tr>
                        <tr>
                            <% var i=1 %>
                            <% data.forEach((item)=>{ %>       
                                <tr>
                                    <td><%= i++ %></td>
                                    <td><%= item.catname %></td>
                                    <td>
                                        <a href="/viewcategory/<%=item._id%>" class="btn btn-info">VIEW</a>
                                        <a href="/editcategory/<%=item._id%>" class="btn btn-success">EDIT</a>
                                        <a href="/deletecategory/<%=item._id%>" class="btn btn-danger">DELETE</a>
                                    </td>
                                </tr>
                            <% }) %>
                        </tr>
                         
                      </table>
                  </div>   
              </div>
          </div>
      </div>
  </div>
</section>

<%- include('../../footer.ejs') %>